
@{
    ViewBag.Title = "AddMovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <h2 class="text-center"> Add a movie </h2>
        @using (Html.BeginForm("formsubmit", "submitData"))
        {
            <div class="input-group">
                <span class="input-group-addon input-lg text-primary">Movie Name &nbsp;</span>
                <input id="Name" type="text" class="form-control input-lg" name="Name">
            </div> <br />

            <div class="input-group">
                <span class="input-group-addon input-lg text-primary">Release Date</span>
                <input id="ReleaseDate" type="text" class="form-control input-lg" name="ReleaseDate">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon input-lg text-primary">Image url &nbsp; &nbsp; &nbsp;</span>
                <input id="Thumbnail" type="text" class="form-control input-lg" name="Thumbnail">
            </div>
            <br />
            <div class="text-center">
                <input type="submit" class="btn-success btn-lg" value="Submit" />
            </div>
        }
    </div>
</div>


